
  html * {
    line-height: 1.625; font-family: "Raleway", sans-serif; font-optical-sizing: auto;
    text-decoration: none; color: white;
    
  }

body {
    background: rgb(230, 145, 145);
}

.logo {
    font-size: 36px;
    font-weight: 700;
    margin: 2%;
    margin-left: 4%
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

.cornerstufftr {
    display: flex; margin-right: 4%;

}

footer {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;    

}

footer nav {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 2%;
}

footer nav ul {
    display: flex;
    justify-content: start;
}

.cornerstuffbl {
    display: flex; margin-left: 4%;
    font-size: 24px;
    font-weight: 500;
}

.cornerstuffbr {
    display: flex; margin-right: 4%;
    font-size: 24px;
    font-weight: 500;
}

.arrowr {
    border-right: 2px solid white;
    margin-right: 0px;
    padding-right: 0;
    margin-left: 400%;
    margin-bottom: 2%;

}

.arrowl {
    border-left: 2px solid white;
    margin-left: 0px;
    padding-left: 0;
    margin-bottom: 2%;
}

.footer-menu {
    justify-content: space-between;
    flex-direction: row;
}